/* -------------- HEADER ------------------------------------------- */

#logo {
  width:100px;
  display: inline;
}

#nav_bar {
  list-style: none;
  text-decoration: none;
  display: inline-flex;
}

.nav_item a {
  text-decoration: none;
}

.nav_item {
  padding: 5px;
}

/* -------------- FOOTER ------------------------------------------- */



/* -------------- HOMEPAGE ------------------------------------------- */



/* -------------- ALL CATEGORIES PAGE ------------------------------------------- */



/* -------------- CATEGORY PAGE ------------------------------------------- */



/* -------------- BOOK DETAIL PAGE ------------------------------------------- */