/* -------------- BASE CONFIGURATION ------------------------------------------- */
* {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #6B4F4F;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}


/* -------------- HEADER ------------------------------------------- */

/* --------- LOGO ----------- */
#logo {
  width: 100px;
  display: inline;
}

/* --------- MAIN NAVBAR ----------- */
/* entire navbar including logo */
.navbar_header {
  padding: 6px;
  padding-left: 21px;
  padding-right: 60px;
  background-color: #483434;
  display: flex;
  /* to move logo and menu to left and right side */
  justify-content: space-between;
  align-items: center;
}

/* only the menu with links*/
.nav_main {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 5px;
}

.nav_main li:hover {
  border-radius: 6px;
  background-color: #6B4F4F;
  transition: 0.2s;
}

/* > necessary to select only main entries, not the submenu */
.nav_main>li:hover>a {
  color: white;
}

/* main entries in the menu */
.nav_item {
  position: relative;
  padding: 12px;
}

.nav_item>a {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #FFF3E4;
  height: 100%;
  text-align: center;
  vertical-align: end;
}

.selected {
  border-radius: 6px;
  background-color: #EED6C4;
}

.selected a {
  color: black;
}

/* --------- SUB NAVBAR----------- */

/* sub entries in the menu */
.nav_sub>li>a {
  font-size: 16px;
  color: #EED6C4;
}

.nav_item {
  position: relative;
}

/* submenu of the main menu entries */
.nav_sub {
  display: none;
  background-color: #EED6C4;
  position: absolute;
  top: 42px;
  border: 2px solid black;
  border-radius: 9px;
  z-index: 10;
}

/* all entries of sublist except the first one */
.nav_sub li+li {
  margin-top: 6px;
}

.nav_sub li {
  padding: 9px 12px;
  width: 8em;
  text-align: center;
}

.nav_sub li a {
  color: black;
  font-size: 18px;
}

/* submenu element when hovered over */
.nav_sub li:hover {
  background-color: #FFF3E4;
}

/* submenu when hovered over the coresponding main entry */
.nav_item:hover .nav_sub {
  /* element becomes visible */
  display: block;
}

/* --------- MOBILE TWEAKS ----------- */
@media only screen and (max-width: 960px) {
  #logo {
    margin-top: 12px;
  }

  .navbar_header {
    padding: 0px;
  }

  header {
    width: 100vw;
  }

  .navbar_header {
    flex-direction: column;
  }

  /* only the menu with links*/
  .nav_main {
    flex-direction: column;
    justify-content: start;
  }

  /* submenu of the main menu entries */
  .nav_sub {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #6B4F4F;
    border-radius: 0px 9px 9px 9px;
  }

  .nav_sub>li>a {
    color: white;
  }

  .nav_item {
    margin: 0px 12px;
  }

  .nav_item>a {
    position: relative;
    top: 2px;
    padding: 3px 6px;
    border: 2px solid black;
    border-radius: 9px 9px 0px 0px;
    background-color: #6B4F4F;
  }

  #home {
    color: #FFF3E4;
    border-radius: 9px;
  }

  .selected a {
    color: #FFF3E4;
  }

  /* sub category menu within category page */

}


/* -------------- FOOTER ------------------------------------------- */
/* conatiner for items */
.navbar_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #EED6C4;
  padding: 12px 12px 30px 12px;
}

/* items of navbart */
.navbar_footer li a {
  font-size: 18px;
  color: #333333;
  padding: 3px 6px;
}

/* when hovered over item in navbar */
.navbar_footer li:hover a {
  color: black;
  background-color: #e0c7b4;
  border-radius: 6px;
}

/* --------- MOBILE TWEAKS ----------- */
@media only screen and (max-width: 960px) {
  .navbar_footer {
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 9px 0px 12px 0px;
  }

  .navbar_footer li {
    margin: 6px 0px;
  }
}

/* -------------- HOMEPAGE ------------------------------------------- */
main {
  padding: 21px 30px;
}

#categories {
  display: flex;
  flex-direction: column;
}

.category {
  padding: 12px 6px;
  margin: 21px 3px;
  background-color: gray;
  border-radius: 12px;
  border: 3px solid black;
}

.category_title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category_title {
  align-content: center;

}

.cards {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: none;
  margin: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px 12px;
  margin-bottom: 15px;
  padding-bottom: 21px;
  background: #e5e5e5;
  border-radius: 12px;
  box-shadow: 0 3px 3px black;
  transition: all 0.2s;
  border: 2px solid black;
  height: 385px;
}

.card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: inherit;
  padding: 0 6px;
}

.book_img {
  border-radius: 9px;
  margin: 21px 30px 12px 30px;
  width: 180px;
  height: 270px;
}

.card_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6px;
  background-color: #e5e5e5;
  transition: all 0.2s;
}

.card_title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 6px;
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_author {
  font-size: 14px;
  font-style: italic;
  font-family: 'Crimson Text', serif;
}

/* when hoverd over one card */
.card:hover {
  background-color: #EED6C4;
  box-shadow: 0 3px 12px black;
}

.card:hover .card_details {
  background-color: #EED6C4;
}

/* when hovered over category name */
.category_title:hover {
  text-decoration: underline;
}

/* youtube video container */
#yt_video {
  display: flex;
  justify-content: center;
}

/* -------------- FICTION PAGE ------------------------------------------- */
#submenu {
  display: flex;
  justify-content: space-around;
  padding: 21px 12px;
}

#submenu li a {
  padding: 6px 9px;
  border: 2px solid black;
  border-radius: 18px;
  background-color: #EED6C4;
  color: black;
}

#submenu li a:hover {
  background-color: #bea999;
}

.sup_category {
  display: flex;
  flex-direction: column;
  padding: 12px;
  padding-top: 0px;
  background-color: #483434;
  border-radius: 12px;
  border: 4px solid black;
}

.sup_category_headline {
  padding: 3px 12px;
  color: black;
  background-color: #EED6C4;
  border-radius: 0px 0px 6px 6px;
  border: 4px solid black;
  position: relative;
  top: -4px;
}

/* --------- MOBILE TWEAKS ----------- */
@media only screen and (max-width: 960px) {
  #submenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  #submenu li {
    margin: 12px 0px;
  }

  #submenu li a {
    margin: 30px 12px;
  }
}


/* -------------- BOOK DETAIL PAGE ------------------------------------------- */

/* breadcrumb navigation bar */
.breadcrumb_container {
  margin: 21px;
  display: flex;
  justify-content: center;
}

.breadcrumb {
  padding: 6px 12px;
  font-size: 18px;
  margin: 0px 12px;
}

.breadcrumb_link {
  border: 2px solid black;
  border-radius: 6px;
  background-color: #EED6C4;
}

.breadcrumb_link:hover {
  background-color: #c6b2a2;
}

.breadcrumb_book {
  border: 2px solid black;
  border-radius: 6px;
  background-color: #483434;
  color: white;
}

/* main part of page */
.book_details {
  border: 4px solid black;
  border-radius: 30px;
  background-color: #EED6C4;
  padding: 21px;
  box-shadow: 0px 6px 12px;
}

.book_container_top {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

/* images */
.images_all_container {
  display: flex;
  align-items: center;
}

.image_big {
  width: 450px;
  height: 636px;
  border-radius: 12px;
  border: 2px solid black;
  display: inline-block
}

.images_small_container {
  display: inline-flex;
  flex-direction: column;
  padding: 21px;
  margin-left: 30px;
  background-color: #d7c1b0;
  align-items: center;
  border-radius: 12px;
  border: 2px solid black;

}

.image_small {
  margin: 3px;
  width: 150px;
  height: 190px;
  border-radius: 6px;
  border: 1px solid black;
}

.image_small:hover {
  transform: scale(3);
}

.purchase_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.price {
  font-size: 42px;
  font-weight: bold;
}

.btn_add {
  padding: 21px;
  font-size: 21px;
  font-weight: bold;
  border-radius: 12px;
  border: 2px solid black;
  background-color: green;
}

/* lower part of page with title and description */
.book_container_bottom {
  display: flex;
  justify-content: center;
}

.book_details_container {
  margin-top: 21px;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid black;
  background-color: #d7c1b0;
  width: 80vw;
}

.btn_add:hover {
  box-shadow: 0px 6px 12px;
}

.book_details_title {
  font-size: 30px;
}

.book_details_description {
  font-size: 18px;
  margin-top: 15px;
}

.book_details_description section {
  margin: 9px 0px;
}

/* --------- MOBILE TWEAKS ----------- */
@media only screen and (max-width: 960px) {
  .breadcrumb_container {
    flex-flow: row wrap;
  }

  .breadcrumb_container li {
    margin: 12px 0px;
  }

  .book_container_top {
    flex-direction: column;
  }

  .images_all_container {
    flex-direction: column;
  }

  .image_big {
    width: 80%;
    height: 100vw;
  }

  .images_small_container {
    flex-flow: row nowrap;
    justify-content: center;
    width: 90%;
    margin: 12px 0px 21px 0px;
  }

  .image_small {
    width: 33%;
    height: 30vw;
  }

  .image_small:hover {
    transform: scale(3);
  }

  .price {
    margin-bottom: 9px;
  }
}

/* -------------- CONTACT US PAGE ------------------------------------------- */
#contact_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 21px;
  border: 4px solid black;
  background-color: #EED6C4;
}

#contact_main input {
  font-size: 18px;
}

#contact_main p {
  font-size: 18px;
}

#contact_main select {
  font-size: 18px;
}

#contact_main textarea {
  font-size: 16px;
}

#contact_form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact_form>div {
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

label {
  display: inline-block;
  font-size: 18px;
  margin: 3px 12px 3px 3px;
}

.text_label {
  width: 150px;
}

#contact1 {
  margin-left: 12px;
}

#yes {
  margin-left: 12px;
}

#form_notes {
  flex-direction: column;
}

#form_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form_btn {
  width: 120px;
  padding: 12px 21px;
  border-radius: 30px;
  border: 2px solid black;
  font-weight: bold;
}

#reset_btn {
  background-color: lightgray;
}

#reset_btn:hover {
  background-color: orangered;
}

#submit_btn {
  background-color: #4CBB17;
}

#submit_btn:hover {
  background-color: green;
}

/* --------- MOBILE TWEAKS ----------- */
@media only screen and (max-width: 960px) {
  #contact_form>div {
    flex-direction: column;
    align-items: flex-start;
  }

  #contact2 {
    margin-left: 12px;
  }

  #no {
    margin-left: 12px;
  }

  #form_notes {
    width: 90%;
  }

  #notes {
    width: 96%;
  }

  #contact_form #form_buttons {
    flex-direction: row;
  }
}

/* -------------- NOT IMPLEMENTED PAGE ------------------------------------------- */
#not_implemented_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#not_implemented_headline {
  color: #EED6C4;
}

#go_back {
  display: inline-block;
  color: white;
  font-weight: bold;
  background-color: orangered;
  border-radius: 6px;
  padding: 6px;
  margin: 6px;
}

#go_back:hover {
  background-color: red;
  color: whitesmoke;

}